/* CSS declarations go here */
body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.column {
  margin-top: 20px;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.field label {
  text-align: left;
}